<%provide :title, "#{@destination.destination_name}"%>

<div class="hero-wrap js-fullheight" style="background-image: url(<%= rails_blob_url(@destination.medias[0])%>);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index-2.html">Home</a></span> <span class="mr-2"><a href="/">Destinations</a></span> <span><%= @destination.destination_name%></span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><%= @destination.destination_name%></h1>
			</div>
		</div>
	</div>
</div>


<section class="ftco-section ftco-degree-bg">
	<div class="container-fluid">
		<div class="row">	
			
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-12 ftco-animate">
						<div class="single-slider owl-carousel">
							<% @destination.medias.each do |media|%>
								<div class="item">
									<div class="hotel-img" style="background-image: url(<%= rails_blob_url(media)%>);"></div>
								</div>
							<%end%>
						</div>
					</div>
					<div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
						<h2><%= @destination.destination_name%></h2>
						<p class="rate mb-2">
							<span class="loc"><a href="#"><i class="icon-map"></i> <%= @destination.city%>, <%= @destination.country%></a></span>
							<span class="star">
								<%= @destination.tours.count%> listed tours
							</span>
						</p>
						<p>
							<%= @destination.destination_description%> 
						</p>
					</div>
					<div class="col-md-12 ftco-animate mb-5 mt-4">
						<div class="heading-section ftco-animate">
							<span class="subheading">Destination Tours</span>
							<h2 class="mb-4"><strong>Featured</strong> Tours</h2>
						</div>
						<div class="row">
							<% @destination.tours.each do |tour|%>
									<div class="col-md-5  ftco-animate">
										<div class="destination">
											<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(<%= rails_blob_url(tour.medias[0]) %>);">
											</a>
											<div class="text p-3">
												<div class="d-flex">
													<div class="one">
														<h3><%= link_to tour.tour_title, tour_path(tour)%></h3>
														<p class="rate">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-o"></i>
															<span>4 Rating</span>
														</p>
													</div>
		                  <!-- <div class="two">
		                    <span class="price">$200</span>
		                  </div> -->
		                </div>
		                <p class="font-weight-bold"><span><i class="icon-map-o"></i> <%= tour.destination.city%>, <%= tour.destination.country%></span></p>
		                <p><%= tour.desciption%></p>
		                <p class="days"><span><%= tour.tour_duration%></span></p>
		                <hr>
		                <p class="bottom-area d-flex">
		                	<span  class="font-weight-bold"><%= tour.tour_price_range%></span>
		                	<span class="ml-auto"><%= link_to "Book Now", tour_path(tour), class: "btn"%></span>
		                </p>
		              </div>
		            </div>
		          	</div>
		          <%end%>
        		</div>
					</div>
					<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
						<h4 class="mb-4">Leave a Comment</h4>
						<div class="block-16">
							<div>
								<p class="f1-s-13 cl8 p-b-40">
									using you facebook account comment here *
								</p>
								<div class="fb-comments" data-href="<%= request.base_url%>/facebookcommentsplugin/destinations/<%= @destination.id%>/" data-numposts="5" data-width="" data-mobile="Auto-detected" ></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 sidebar ftco-animate">
				<div class="sidebar-box ftco-animate">
					<h3>Recent Blog</h3>
					<% @posts.each do |post|%>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(<%= rails_blob_url(post.medias[0])%>);"></a>
							<div class="text">
								<h3 class="heading"><%= link_to post.post_title, "#"%></h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> <%= post.created_at.strftime("%b %d, %Y")%></a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
					<%end%>
				</div>
				<div class="sidebar-box ftco-animate">
					<h3>About Us</h3>
					<p>Nebidom tour and travel is an exclusive private tour company based in Addis Ababa, Ethiopia. With a squad of experienced professionals , we afford the best vacation holidays in Ethiopia. We have the widest choices of well designed tour packages for groups and individuals throughout Ethiopia. Our package tours include: cultural tours, historical tours, festival tours, adventure tours, wildlife safari, trekking, business in Ethiopia, bird watching, car rental and so much more..</p>
				</div>
			</div> 
		</div>
	</div>
</div>
</section> 







