<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <%= link_to "Nebidom tour and travel", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><%= link_to "Home", root_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "About us", about_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Destination", destinations_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Tour", tours_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Blog", posts_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Contact us", contact_path, class: "nav-link"%></li>
        
      </ul>
    </div>
  </div>
</nav>